@mixin font-face($font-family, $url, $weight: 400, $style: normal) {
  @font-face {
    src:
      local($font-family),
      url('/fonts/#{$url}.woff2') format('truetypewoff2');
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}
