.header {
  &__container {
    @include flex-all-between;
  }
}

.nav {
  &__list {
    @include flex-align-center;
    gap: 32px;
  }

  &__link {
    color: var(--Neutral-100, #1d1e25);
    font-weight: 500;
    line-height: 162%;
    color: var(--neutral-color-100);
    position: relative;

    &::after {
      content: '';
      left: 0;
      right: 0;
      position: absolute;
      height: 1px;
      bottom: -5px;
      background-color: var(--neutral-color-100);
      transition: var(--transition-all);
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
