.hero {
  padding-top: 201px;

  &__container {
    position: relative;
    @include flex-all-between;

    &::before {
      position: absolute;
      top: -50px;
      left: -80px;
      content: '';
      display: inline-block;
      width: 551px;
      height: 551px;
      flex-shrink: 0;
      border-radius: 50%;
      opacity: 0.13;
      background: #fa7515;
      filter: blur(220px);
      z-index: -1;
    }
  }

  &__left {
    max-width: 599px;
  }

  &__title {
    margin-bottom: 114px;
    color: var(--neutral-color-100);
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 96px */
    letter-spacing: -3px;
  }

  &__subtitle {
    margin-bottom: 69px;
  }

  &__form {
    @include flex-align-center;
    gap: 16px;
  }

  &__input {
    border-bottom: 1px solid var(--neutral-color-40);
    padding-bottom: 15px;
    min-width: 280px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--neutral-color-100);
    background-color: transparent;
  }

  &__btn {
    padding: 16px 44px;
    background: var(--neutral-color-100);
    color: var(--neutral-color-10);
  }
}
