<section class="hero">
  <div class="container hero__container">
    <div class="hero__left">
      <h2 class="hero__title">Digitally forward creative</h2>
      <p class="hero__subtitle text-p-subtitle">
        When it comes to interactive marketing, we've got you covered. Be where
        the world is going
      </p>
      <form class="hero__form">
        <input
          type="text"
          class="hero__input"
          placeholder="Enter your email"
          required
        />
        <button class="hero__btn button button-form">Try to free</button>
      </form>
    </div>
    <div class="hero__right">
      <div class="hero__sales">
        <h3 class="hero__sales-title">Sales Report</h3>
        <img
          src="/assets/items/svg/sales-report-icon.svg"
          width="366"
          height="260"
          alt="Sales Report graphic"
        />
      </div>

      <div class="hero__customer">
        <h3 class="hero__customer-title">Customer Growth</h3>
        <img
          src="/assets/items/svg/sales-customer-icon.png"
          width="140"
          height="135"
          alt="Customer growth graphic"
        />
      </div>

      <table class="hero__stats">
        <thead class="hero__stats-head">
          <tr class="hero__stats-head-row">
            <th class="hero__stats-head-th">Sales</th>
            <th class="hero__stats-head-th">Marketing</th>
          </tr>
        </thead>
        <tbody class="hero__stats-body">
          <tr class="hero__stats-body-row">
            <th class="hero__stats-body-th">$31,092</th>
            <th class="hero__stats-body-th">$29,128</th>
          </tr>
          <tr class="hero__stats-body-row">
            <th class="hero__stats-body-th">
              <span
                class="hero__stats-body-span-pr hero__stats-body-span-pr--green"
              >
                4.2%
              </span>
              <span class="hero__stats-body-span">from last year</span>
            </th>
            <th class="hero__stats-body-th">
              <span
                class="hero__stats-body-span-pr hero__stats-body-span-pr--red"
              >
                1.2%
              </span>
              <span class="hero__stats-body-span">from last year</span>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
